* {
    margin: 0;
    padding: 0;
}
body {
    main {
        display: flex;
        flex-direction: column;
        flex: 1;

        .cards {
            height: 25vh;
            width: 100%;
            background-color: rgb(251, 240, 226);
            background-repeat: no-repeat;
            background-size: cover;
            height: auto;
            // border : {
            //     style : solid;
            //     width: 3%;
            //     color: black;
            // }
            .project {
                background-color: rgb(192, 144, 132);
                color: wheat;
                display: flex;
                align-items: center;
                justify-content: space-around;
                height: 10vh;
                font-size: 18px;
                margin: {
                    right: 3%;
                    left: 2%;
                }
                border-radius: 35px;
                margin-top: 2%;
                border: {
                    style: solid;
                    width: 2%;
                }

                .statusContainer {
                    background-color: #e4766e;
                    border: solid 1.5px black;
                    height: 10px;
                    width: 10px;
                    border-radius: 50%;
                }
                .suppElement {
                    img {
                        width: 10vw;
                        margin-left: 35%;
                    }
                }
            }
        }
    }

}

@media screen and (min-width: 780px) {}

@media screen and (min-width: 1024px) {
    body {
        main {
            .cards {
                .project {
                    height: 12vh;
                    font-size: 20px;
                    .suppElement {
                        img {
                            width: 3vw;
                            margin-left: 100%;
                        }
                    }
                }
            }
        }
    }
}
