$backgrd_drk: rgb(19, 18, 11);
.darkmode{
    background-color: $backgrd_drk;
    color: wheat;
    header{
        background-color: $backgrd_drk;
        input{
            background-color: rgb(48, 47, 43);
            color: wheat;
            &:hover{
                background-color: rgb(170, 147, 119);
                color: rgb(91, 72, 49);
            }
        }
    }
    #proj_form{
        background-color: rgb(62, 46, 42);
    }
    input{
        background-color: rgba(105, 76, 69);
        color: wheat;
    }
    main{
        .cards{
            background-color: rgb(62, 46, 42);
            .project{
                background-color: rgb(105, 76, 69);
            }
        }
    }
}