* {
  margin: 0;
  padding: 0;
}

header {
  background-color: antiquewhite;
}
header div {
  display: flex;
  justify-content: space-between;
  padding: 3%;
}
header input {
  padding: 2% 3%;
  background-color: rgb(251, 240, 226);
  color: rgb(135, 114, 88);
  font-size: 20px;
  margin: 5% auto;
  text-transform: uppercase;
  border-radius: 10px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
header input:hover {
  background-color: rgb(170, 147, 119);
  color: wheat;
}