@media screen and (min-width: 481px) {
  * {
    margin: 0;
    padding: 0;
  }
  body main {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  body main .cards {
    height: 25vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    border-style: solid;
    border-width: 3%;
    border-color: black;
  }
  body main .cards .project {
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    margin-right: 3%;
    margin-left: 2%;
    border-radius: 35px;
    margin-top: 2%;
  }
  body main .cards .statusContainer {
    background-color: red;
    border: solid 1.5px black;
    height: 10px;
    width: 10px;
    border-radius: 50%;
  }
  body main .cards .nbOfDaysContainer {
    font-size: 11px;
  }
  body main .cards .dateContainer {
    font-size: 11px;
  }
  body main .cards .nameContainer {
    font-size: 18px;
  }
}
/* phone 480px*/
@media screen and (max-width: 480px) {
  * {
    margin: 0;
    padding: 0;
  }
  body main {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  body main .cards {
    height: 25vh;
    width: 100%;
    background-color: rgb(251, 240, 226);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
  }
  body main .cards .project {
    background-color: #a5c3c8;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    margin-right: 3%;
    margin-left: 2%;
    border-radius: 35px;
    margin-top: 2%;
    border-style: solid;
    border-width: 2%;
  }
  body main .cards .statusContainer {
    background-color: #e4766e;
    border: solid 1.5px black;
    height: 10px;
    width: 10px;
    border-radius: 50%;
  }
  body main .cards .nbOfDaysContainer {
    font-size: 11px;
  }
  body main .cards .dateContainer {
    font-size: 11px;
  }
  body main .cards .nameContainer {
    font-size: 18px;
  }
}
* {
  margin: 0;
  padding: 0;
}

header {
  background-color: antiquewhite;
}
header div {
  display: flex;
  justify-content: space-between;
  padding: 3%;
}
header input {
  padding: 2% 3%;
  background-color: rgb(251, 240, 226);
  color: rgb(135, 114, 88);
  font-size: 20px;
  margin: 5% auto;
  text-transform: uppercase;
  border-radius: 10px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
header input:hover {
  background-color: rgb(170, 147, 119);
  color: wheat;
}