/*test*/
/* phone 480px*/
@media screen and (max-width: 480px) {
  * {
    margin: 0;
    padding: 0;
  }
  body main {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  body main .cards {
    height: 25vh;
    width: 100%;
    background-image: url(../images/background-image/);
    background-repeat: no-repeat;
    background-size: contain;
    height: auto;
    border-style: solid;
    border-width: 3%;
    border-color: black;
  }
  body main .cards .project {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    margin-right: 3%;
    margin-left: 2%;
    border-radius: 35px;
    margin-top: 2%;
  }
  body main .cards .statusContainer {
    border: solid 2px black;
    height: 2vh;
    width: 4dvw;
    border-radius: 50%;
  }
  body main .cards .nbOfDaysContainer {
    font-size: 11px;
  }
  body main .cards .dateContainer {
    font-size: 11px;
  }
  body main .cards .nameContainer {
    font-size: 18px;
  }
}